{
  "extends": ["react-app", "airbnb", "plugin:jest/recommended", "prettier", "prettier/react"],
  "rules": {
    "no-use-before-define": ["error", { "variables": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": 0
  },
  "env": {
    "browser": true
  }
}
