nav {
  font-size: 1.3em;
  margin: 30px 0;
}

.link {
  text-decoration: none;
  color: #303040;
}

.link:hover {
  color: #f66;
  text-decoration: underline;
}

.peterith {
  font-weight: bold;
  font-size: 1.6em;
}

.nav-main {
  display: inline-block;
}

.nav-user {
  font-size: 0.7em;
  float: right;
}
