body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #334;
  font-size: 20px;
}

main {
  width: 960px;
  margin: 0 auto;
}

h1 {
  color: #666;
  font-size: 1.8em;
  margin: 50px 0;
  border-bottom: 2px solid #334;
}

h2 {
  font-size: 1.3em;
  color: #f66;
}
